<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
		
	</head>

	<body>

		{% include header.html %}

		<div class="content">
			{{ content }}
		</div>

	</body>

	{% if page.layout == 'default' %}
		<footer>
		  {% include footer.html %}
		</footer>
	{% endif %}
	
	<p class="love">
		Made with <i class="fa fa-heart"></i> by <a href="https://github.com/agorahub">Agora</a>
		<button class="hidden scheme"><i class="toggle d-adjust"></i></button>
	</p>
	
	<script src="{{ "/assets/auto-dark.js" | prepend: site.baseurl | prepend: site.url }}"></script>

</html>
